{% extends "layout.html" %}
{% load static %}
{% load text_filters %}

{% block title %}
    Инвайты — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title">💌<br>Инвайты</div>

        <div class="block-description block-description-center">
            <p>
                Здесь находятся ваши инвайты, которыми можно поделиться с друзьями.
            </p>

            {% if features.PAYMENTS_ENABLED %}
                <br>
                <form action="{% url "pay" %}" method="get">
                    {% csrf_token %}
                    <input type="hidden" name="product_code" value="club1_invite">
                    <input type="hidden" name="is_invite" value="true">
                    <button type="submit" class="button">🎁 Получить инвайт-код</button>
                </form>
            {% endif %}

            {% if me.is_god %}
                <br>
                <form action="{% url "godmode_generate_invite_code" %}" method="post">
                    <button class="button">💣 Сгенерировать инвайт</button>
                </form>
            {% endif %}

            <div class="invites-list">
                {% for invite in invites %}
                    <a href="{% url "show_invite" invite.code %}" class="block invites-list-item zoom-on-hover">
                        <strong>
                            Инвайт {{ invite.code|slice:":3" }}...{{ invite.code|slice:"-3:" }}
                        </strong>
                        <span>
                            {% include "invites/widgets/status_badge.html" %}
                        </span>
                        <span>
                            {% if invite.used_at %}
                                ➡️ {{ invite.invited_user.full_name }}
                            {% elif invite.is_expired %}
                                истек {{ invite.expires_at | date:"j E Y" }}
                            {% else %}
                                истекает {{ invite.expires_at | date:"j E Y" }}
                            {% endif %}
                        </span>
                    </a>
                {% endfor %}
            </div>

            <small>
                Код действителен год. До активации инвайт можно передать другому человеку.
            </small>
        </div>
    </div>
{% endblock %}
