{% extends "layout.html" %}

{% block title %}
    Вам подарили инвайт! — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title"><strong class="text-200">🎁</strong><br>Вас пригласили в Клуб</div>

        <div class="block">
            <div class="block-description block-description-center">
                <p>
                    Ого! <strong>{{ invite.user.full_name }}</strong> пригласил вас в PM Russia Club. Добро пожаловать! 🥳
                </p>

                {% if request.me %}
                    <p>Нажмите на кнопку ниже, чтобы активировать приглашение 👇</p>

                    {% include "users/widgets/card.html" with user=request.me %}

                    <br><br>

                    <form action="{% url "activate_invite" invite.code %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="email" value="{{ request.me.email }}">
                        <div class="form-row">
                            <button type="submit" class="button">🔥 Активировать инвайт</button>
                        </div>
                    </form>
                {% else %}
                    <p>
                        Введите адрес своей электронной почты, чтобы создать аккаунт.
                        А если вы уже в Клубе — укажите email существующего аккаунта, либо сначала <a href="{% url "login" %}"><strong>войдите</strong></a> в него.
                    </p>

                    <br>

                    <form action="{% url "activate_invite" invite.code %}" method="post">
                        {% csrf_token %}

                        <div class="form-row">
                            <label for="invited-email" class="form-label"><strong>Ваша почта 👇</strong></label>
                            <input type="email" name="email" id="invited-email" placeholder="your@gmail.com" {% if request.me %}value="{{ request.me.email }}"{% endif %} required>
                        </div>

                        <div class="form-row">
                            <button type="submit" class="button">🔥 Активировать инвайт</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
