{% extends "layout.html" %}
{% load static %}

{% block title %}
    Удаление аккаунта — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title">🧨<br>Удаление аккаунта</div>

        <div class="block">
            <div class="block-description">
                <p>
                    Мы в Клубе поддерживаем право на забвение. Любой человек может стереть свои данные из базы и покинуть нас.
                    Мы так же разрешаем забрать свои данные с собой и перенести их на другую площадку.
                    Для этого заранее <a href="{% url "edit_data" user.slug %}">запросите архив</a>.
                </p>

                <p>
                    Вот как мы это делаем:
                </p>

                <ul>
                    <li>☠️ <b>Все данные из вашего профиля, включая интро, места работы, бейджики, удаляются из базы навсегда</b>. Восстановить аккаунт не получится даже через саппорт.</li>
                    <li>☠️ Вас <b>удаляет из всех официальных чатов Клуба</b>.</li>
                    <li>☠️ Закрывается доступ к связанным с Клубом проектам и сервисам.</li>
                    <li>☠️ <b>Все ваши посты станут анонимными</b>. Под ними могут остаться комментарии других людей, которые не хотели бы их терять. Вы можете очистить содержимое своих постов при желании.</li>
                    <li>☠️ <b>Ваши комментарии тоже анонимизируются</b>, чтобы не ломать ветки обсуждений. Вы всегда можете удалить их руками или написать нам.</li>
                    <li>☠️ <b>У вас будет 3 дня на восстановление</b>, если вдруг вас взломали или вы передумали.</li>
                </ul>

                <p>
                    Если готовы, напишите «{{ settings.GDPR_DELETE_CONFIRMATION }}» в поле внизу
                </p>
            </div>

            <div class="block-description block-description-center">
                <form action="{% url "request_delete_account" %}" method="post" onsubmit="return confirm('Точно?')">
                    {% csrf_token %}
                    <input type="text" name="confirm" placeholder="{{ settings.GDPR_DELETE_CONFIRMATION }}" style="width: 280px;" required>
                    <button type="submit" class="button button-small button-red">Подтверждаю</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
