{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    🚀 Вас пригласили в Клуб
{% endblock %}

{% block body %}
    <p>
        👋 Привет, это модератор <a href="{{ settings.APP_HOST }}">PM Russia клуба</a>.
    </p>

    <p>
        Добрый человек <strong>{{ from_user.full_name }}</strong> пригласил вас в Клуб.
    </p>

    <p>
        Вам теперь нужно лишь заполнить свой профиль и написать интро, если вы хотите присоединиться к нашей тусовке.
        Используйте почту <strong>{{ to_user.email }}</strong> для входа.
    </p>

    <p>
        Вот вам волшебная кнопка 👇
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "login" %}?email={{ to_user.email }}" class="button">Заполнить профиль</a>
    </p>

    <p>
        Если вы не понимаете что происходит и зачем вам какой-то Клуб — просто удалите это сообщение и
        мы никогда вам больше не напишем.
    </p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
